.app {
  --main-content-width: 725px;

  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--gold-3);
}

.messageContainer {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.messageList {
  min-height: 100%;
  width: calc(min(80%, var(--main-content-width)));
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--space-4);
  padding-bottom: var(--space-6);
}

.errorBanner {
  background-color: var(--red-2);
  border-bottom: 1px solid var(--red-4);
  flex-shrink: 0;
}
