# offload configuration for running mngr tests on Modal
# Only le slow tests, por-favor.

[offload]
max_parallel = 100
test_timeout_secs = 60
retry_count = 4
stream_output = true

[provider]
type = "modal"
app_name = "offload-mngr"
image_type = { dockerfile = "libs/mngr/imbue/resources/Dockerfile" }
timeout_secs = 600

[groups.all]
type = "pytest"
paths = ["."]
markers =  'not acceptance and not release'
python = "uv"
extra_args = ["run", "--with=pytest", "-v --tb=short --no-cov -p no:xdist -o addopts="]

[report]
output_dir = "test-results"
junit = true
junit_file = "junit.xml"
