.markdownContainer {
  line-height: 1.6;

  p {
    margin: 0.5em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .inlineCode {
    display: inline;
    font-size: 0.85em !important;
    padding: 0.2em 0.4em;
    background-color: var(--gold-4);
    border-radius: 3px;
  }

  .codeBlock {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.85em !important;
    border-radius: 6px;
    background-color: var(--gold-3);
    padding: 1.2em;
    border: 1px solid var(--gold-4);
    margin: 1em 0;
    max-width: 100%;
    width: auto;
  }

  table {
    border-collapse: collapse;
    min-width: 100%;
    margin: 1em 0;
  }

  th,
  td {
    border: 1px solid var(--gold-6);
    padding: 0.5em 0.75em;
    text-align: left;
    min-width: 50px;
  }

  th {
    background-color: var(--gold-3);
    font-weight: 600;
  }

  tr:nth-child(even) {
    background-color: var(--gold-2);
  }

  hr {
    border: none;
    border-top: 1px solid var(--gold-5);
    margin: 1.5em 0;
  }

  blockquote {
    margin: 1em 0;
    padding: 0.5em 1em;
    border-left: 4px solid var(--gold-9);
    background-color: var(--gold-2);
    border-radius: 0 4px 4px 0;
    font-style: italic;

    p {
      margin: 0.5em 0;
    }

    > blockquote {
      border-left-color: var(--gold-11);
      background-color: var(--gold-3);
    }
  }

  ul,
  ol {
    margin: 0.5em 0;
    padding-left: 1.5em;
  }

  li {
    margin: 0.25em 0;
  }

  a {
    color: var(--gold-11);
    text-decoration: underline;

    &:hover {
      color: var(--gold-12);
    }
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}
