is_allowed_in_pytest = false

[pre_command_scripts]
create = ["""bash -c './scripts/make_tar_of_repo.sh `cat .mngr/dev/modal_image_commit_hash` .mngr/dev/build'"""]

[commands.create]
build_args = "dockerfile=libs/mngr/imbue/mngr/resources/Dockerfile context-dir=.mngr/dev/build/"

[create_templates.coder]
agent_type = "coder"
add_command = ["reviewer_0='export IS_SANDBOX=1 && claude --dangerously-skip-permissions'"]

[create_templates.modal]
add_command = ["github_setup='ssh-keyscan github.com >> ~/.ssh/known_hosts && gh auth setup-git'"]
agent_args = ["--dangerously-skip-permissions"]
target_path = "/code/mngr"

[agent_types.coder]
parent_type = "claude"
# note that the extra permissions at the end are to prevent this agent from running sub-agents.
# this is necessary because the stop hooks otherwise get triggered when those sub-agents stop, which is not what we want.
# specifically it happens if the sub-agents stop *after* the main agent, which wakes the main agent, which then just stops right away, and counts as another "Stop" event
# this causes problems with this line, which is used to prevent claudes from getting horribly stuck: ( git rev-parse HEAD || echo "conflict" ) >> .claude/reviewed_commits
cli_args = """--settings '{"hooks": {"Stop": [{"hooks": [{"type": "command", "command": "./scripts/check_commit_status.sh"}]}, {"hooks": [{"type": "command", "timeout": 600, "command": "./scripts/main_claude_stop_hook.sh"}]}]}, "permissions": {"deny": ["Task(Explore)", "Task(Bash)"]}}'"""

[providers.modal]
is_enabled = true
default_cpu = 4
default_memory = 8
default_idle_timeout = 600
default_sandbox_timeout = 7200
