is_allowed_in_pytest = false

[pre_command_scripts]
create = ["""bash -c './scripts/make_tar_of_repo.sh e66b24ce9354eb11c9dc107b3d640a790f0c45b1 .mngr/dev'"""]

[commands.create]
add_command = ["reviewer_0=claude --dangerously-skip-permissions"]
