is_allowed_in_pytest = false

[pre_command_scripts]
create = ["""bash -c './scripts/make_tar_of_repo.sh `cat .mngr/dev/modal_image_commit_hash` .mngr/dev/build'"""]

[commands.create]
add_command = ["reviewer_0=claude --dangerously-skip-permissions"]
