is_allowed_in_pytest = false

[pre_command_scripts]
create = ["""bash -c './scripts/make_tar_of_repo.sh `cat .mngr/dev/modal_image_commit_hash` .mngr/dev/build'"""]

[commands.create]
build_args = "dockerfile=libs/mngr/imbue/mngr/resources/Dockerfile context-dir=.mngr/dev/build/"

[create_templates.coder]
agent_type = "claude"
add_command = ["reviewer_0=claude --dangerously-skip-permissions"]

[agent_types.coder]
parent_type = "claude"
cli_args = """--settings '{"hooks": {"Stop": [{"hooks": [{"type": "command", "command": "./scripts/check_commit_status.sh"}]}, {"hooks": [{"type": "command", "timeout": 600, "command": "./scripts/main_claude_stop_hook.sh"}]}]}}'"""

[providers.modal]
is_enabled = true
default_idle_timeout = 600
default_sandbox_timeout = 900

[providers.modal_github]
backend = "modal"
is_enabled = true
user_id = "github-ci"
default_idle_timeout = 600
default_sandbox_timeout = 900
