is_allowed_in_pytest = false
#default_destroyed_host_persisted_seconds = 36000
default_destroyed_host_persisted_seconds = 10

[pre_command_scripts]
create = ["""bash -c './scripts/make_tar_of_repo.sh `cat .mng/dev/modal_image_commit_hash` .mng/dev/build'"""]

[commands.create]
build_args = "dockerfile=libs/mng/imbue/mng/resources/Dockerfile context-dir=.mng/dev/build/ volume=code-review-json:/code_reviews"

[create_templates.coder]
agent_type = "coder"
add_command = ["reviewer_0='export IS_SANDBOX=1 && claude --dangerously-skip-permissions'"]

[create_templates.modal]
add_command = ["github_setup='ssh-keyscan github.com >> ~/.ssh/known_hosts && gh auth setup-git'"]
agent_args = ["--dangerously-skip-permissions"]
target_path = "/code/mng"

[agent_types.coder]
parent_type = "claude"
cli_args = """--settings '{"hooks": {"Stop": [{"hooks": [{"type": "command", "command": "./scripts/check_commit_status.sh"}]}, {"hooks": [{"type": "command", "timeout": 600, "command": "./scripts/main_claude_stop_hook.sh"}]}]}}'"""

[providers.modal]
is_enabled = true
default_cpu = 4
default_memory = 8
default_idle_timeout = 600
default_sandbox_timeout = 7200
